<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adopción de Mascotas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .navbar-brand {
      font-size: 1.8rem;
      font-weight: bold;
    }

    .card img {
      object-fit: cover;
    }

    .card-body {
      text-align: center;
    }
  </style>
</head>

<body>
  <!-- Barra de navegación -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Adopta</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Aporte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tienda</a>
        </li>
      </ul>
      <!-- Imagen de usuario -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="https://img.freepik.com/free-photo/beautiful-pet-portrait-dog_23-2149218450.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1727568000&semt=ais_hybrid" alt="Usuario" class="rounded-circle" width="30" height="30">
          </a>
        </li>
      </ul>

    </div>
  </nav>

  <!-- Sección de mascotas -->
  <div class="container mt-5">
    <h2 class="text-center mb-4">Mascotas Disponibles para Adopción</h2>
    <div class="row">
      <!-- Card de ejemplo de una mascota -->
      <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let mascota of mascotas | async">
        <div class="card mb-4 shadow-sm">
          <!--  <img class="card-img-top" [src]="mascota.foto_url" alt="Imagen de {{mascota.nombre}}" style="height: 200px;"> -->
          <img src="https://icons.veryicon.com/png/o/miscellaneous/fresh-icon-1/dog-40.png" alt="Usuario" class="rounded-circle" width="200" height="200">
          <div class="card-body">
            <h5 class="card-title">{{ mascota.name }}</h5>
            <p class="card-text">Edad: {{ mascota.age }} años</p>
            <p class="card-text">Especie: {{ mascota.species }}</p>
            <a class="btn btn-info btn-sm mr-2" [routerLink]="['/mascotas/editar/', mascota.id]">Editar</a>
            <button class="btn btn-danger btn-sm" (click)="borrarMascota(mascota.id)">Borrar</button>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Scripts de Bootstrap y dependencias -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>