<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand logo" href="#">Tail Tails Rescue</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mascotas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Adoptantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Solicitudes de Adopción</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="container">
    <div class="row mt-4">
      <div class="col-sm-10">
        <h2>Gestión de Adoptantes</h2>
      </div>
      <div class="col-sm-2 text-right">
        <button class="btn btn-primary" [routerLink]="['/adoptantes/agregar']">Nueva Adoptante</button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-12">
        <table class="table table-striped">
          <thead>
  
            <tr>
              <th scope="col">ID</th>
              <th scope="col">NOMBRE</th>
              <th scope="col">APELLIDO</th>
              <th scope="col">EMAIL</th>
              <th scope="col">TELÉFONO</th>
              <th scope="col">IDENTIFICACIÓN</th>
              <th scope="col">DIRECCIÓN</th>
              <th scope="col">CIUDAD</th>
              <th scope="col">ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let adoptante of adoptantes | async">
              <td>{{ adoptante.id }}</td>
              <td>{{ adoptante.first_name }}</td>
              <td>{{ adoptante.last_name }}</td>
              <td>{{ adoptante.email }}</td>
              <td>{{ adoptante.phone }}</td>
              <td>{{ adoptante.citizenship_card }}</td>
              <td>{{ adoptante.address }}</td>
              <td>{{ adoptante.city }}</td>
              <td>
                <a class="btn btn-info btn-sm mr-2" [routerLink]="['/adoptantes/editar/', adoptante.id]">Editar</a>
                <button class="btn btn-danger btn-sm" (click)="borrarAdoptante(adoptante.id)">Borrar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="movieModal" tabindex="-1" aria-labelledby="movieModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="movieModalLabel">Detalles de la Película</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body">
                <!-- Detalles de la película irán aquí -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Alquilar por <span id="modal-price"></span> COP</button>
            </div>
        </div>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="lista-mascotas.component.ts"></script>
  
  <!-- Enlaza Bootstrap JS y jQuery (opcional pero recomendado) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>