<div class="row">
  <div class="col-sm-12">
    <form (ngSubmit)="onSubmit()" #mascotaForm="ngForm">
      <fieldset class="form-group">
        <div class="col-sm-12">
          <label class="control-label" for="name">Nombre</label>
          <input type="text" class="form-control" required [(ngModel)]="mascota.name" name="name">
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="col-sm-12">
          <label class="control-label" for="species">Especies</label>
          <input type="text" class="form-control" required [(ngModel)]="mascota.species" name="species">
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="col-sm-12">
          <label class="control-label" for="breed">Raza</label>
          <input type="text" class="form-control" required [(ngModel)]="mascota.breed" name="breed">
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="col-sm-12">
          <label class="control-label" for="age">Edad</label>
          <input type="text" class="form-control" required [(ngModel)]="mascota.age" name="age">
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="col-sm-12">
          <label class="control-label" for="description">Descripción</label>
          <input type="text" class="form-control" required [(ngModel)]="mascota.description" name="description">
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="col-sm-12">
          <label class="control-label" for="gender">Género</label>
          <input type="text" class="form-control" required [(ngModel)]="mascota.gender" name="gender">
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="col-sm-12">
          <label class="control-label" for="size">Tamaño</label>
          <input type="text" class="form-control" required [(ngModel)]="mascota.size" name="size">
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" [disabled]="!mascotaForm.form.valid">Enviar</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
