<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Gestión de Mascotas - Editar</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  body {
    background-color: #fffff7;
    /* Color de fondo */
    position: relative;
    /* Necesario para posicionar la imagen de fondo */
    overflow: hidden;
    /* Evita scroll si la imagen es más grande */
  }

  .background-image {
    background-image: url('https://th.bing.com/th/id/OIG1.HAjLMH74pcBoI_tORvD1?w=1024&h=1024&rs=1&pid=ImgDetMain');
    background-size: cover;
    /* Hace que la imagen cubra todo el contenedor */
    background-position: center;
    /* Centra la imagen */
    position: absolute;
    /* Posición absoluta para cubrir el body */
    top: 0;
    /* Coloca la imagen al inicio del contenedor */
    left: 0;
    /* Coloca la imagen al inicio del contenedor */
    right: 0;
    /* Abarca todo el ancho */
    bottom: 0;
    /* Abarca toda la altura */
    opacity: 0.05;
    /* Establece la opacidad */
    z-index: -1;
    /* Asegura que la imagen esté detrás del contenido */
  }

  .navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
  }

  .custom-navbar {
    background-color: #ffda96;
    /* Color personalizado */
    color: white;
    /* Color del texto */
  }

  .custom-nav-link {
    font-size: 1.2rem;
    /* Tamaño de la fuente */
    font-family: 'Arial', sans-serif;
    /* Cambia a la fuente deseada */
    font-weight: bold;
    /* Para texto en negrita */
    color: #000000;
    /* Color del texto */
  }

  .custom-nav-link:hover {
    color: #cc00ff;
    /* Color del texto al pasar el mouse */
  }

  .form-group {
    margin-bottom: 1.5rem;
    /* Espacio inferior entre campos */
  }

  .mascota-img {
    height: 200px;
    /* Altura de la imagen de la mascota */
    margin-bottom: 20px;
    /* Espacio debajo de la imagen */
    
  }
  .custom-card {
    background-color: rgba(255, 224, 165, 0.7); /* Color de fondo negro con 70% de opacidad */
    color: rgb(0, 0, 0); /* Color del texto */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 2px 20px rgba(195, 0, 255, 0.726)
  }
  .table {
    background-color: #f8f9fa; /* Color de fondo gris claro */
    color: #000; /* Color del texto */
}

</style>

<!-- Imagen de fondo -->
<div class="background-image"></div>

<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg navbar custom-navbar">
  <a class="navbar-brand" href="/inicio">Tail Tails Rescue</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link custom-nav-link" href="/mascotas">Mascotas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link custom-nav-link" href="/adoptantes">Adoptantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link custom-nav-link" href="/solicitudes">Solicitudes</a>
      </li>
    </ul>
    <!-- Imagen de usuario -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="https://www.svgrepo.com/show/388246/people-safe.svg" alt="Usuario" class="rounded-circle" width="30"
            height="30">
        </a>
      </li>
    </ul>
  </div>
</nav>



<div class="container mt-5">
  <div class="d-flex justify-content-center align-items-center mb-4">
    <h2 class="text-center" style="text-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);  font-family: 'Arial', sans-serif; font-size: 3rem;">Editar Información de la Mascota</h2>
  </div>

  <!-- Tarjeta para contener la imagen y las columnas -->
  <div class="card custom-card"> <!-- Aplica la clase personalizada aquí -->
    <div class="card-body">
      <form #mascotaForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <!-- Columna para la imagen -->
          <div class="col-md-4 text-center">
            <img class="card-img-top" [src]="(mascota.species.toLowerCase() === 'perro') ? 'https://www.svgrepo.com/show/405231/dog-face.svg' :
                   (mascota.species.toLowerCase() === 'gato') ? 'https://www.svgrepo.com/show/401273/cat-face.svg' :
                   (mascota.species.toLowerCase() === 'hámster') ? 'https://www.svgrepo.com/show/405777/hamster.svg' :
                   (mascota.species.toLowerCase() === 'conejo') ? 'https://www.svgrepo.com/show/398149/rabbit-face.svg' :
                   (mascota.species.toLowerCase() === 'cuy' || mascota.species.toLowerCase() === 'conejillo de indias') ? 'https://img.freepik.com/premium-vector/guinea-pig-icon-vector-illustration-perfect-circular-designs_1185690-354.jpg?w=740' :
                   (mascota.species.toLowerCase() === 'ratón') ? 'https://www.svgrepo.com/show/402148/rat.svg' :
                   (mascota.species.toLowerCase() === 'rata') ? 'https://www.svgrepo.com/show/402177/mouse.svg' :
                   (mascota.species.toLowerCase() === 'loro') ? 'https://www.svgrepo.com/show/397712/parrot.svg' :
                   (mascota.species.toLowerCase() === 'canario') ? 'https://img.freepik.com/free-vector/yellow-bird-illustration_1142-206621.jpg?t=st=1727738059~exp=1727741659~hmac=e5e260524a6f5f4dbe2b69778ef5c65ac29919bd1cbce1265dbce15b28a826ba&w=740' :
                   (mascota.species.toLowerCase() === 'periquito') ? 'https://www.svgrepo.com/show/417456/bird.svg' :
                   (mascota.species.toLowerCase() === 'gallo') ? 'https://www.svgrepo.com/show/402629/rooster.svg' :
                   (mascota.species.toLowerCase() === 'anguila') ? 'https://www.svgrepo.com/show/401438/eagle.svg' :
                   (mascota.species.toLowerCase() === 'tortuga') ? 'https://www.svgrepo.com/show/402833/turtle.svg' :
                   (mascota.species.toLowerCase() === 'serpiente') ? 'https://www.svgrepo.com/show/289236/snake.svg' :
                   (mascota.species.toLowerCase() === 'iguana') ? 'https://img.freepik.com/free-vector/hand-drawn-cartoon-chameleon-illustration_23-2150387676.jpg?t=st=1727738335~exp=1727741935~hmac=8f399eb067438c2991bd101dd8f8a73c0eefe2a668f0996b8a0a46fd4bcaf97f&w=740' :
                   (mascota.species.toLowerCase() === 'cangrejo') ? 'https://www.svgrepo.com/show/530182/crab.svg' :
                   (mascota.species.toLowerCase() === 'tarantula') ? 'https://www.svgrepo.com/show/317393/tarantula.svg' :
                   (mascota.species.toLowerCase() === 'araña') ? 'https://www.svgrepo.com/show/317393/tarantula.svg' :
                   (mascota.species.toLowerCase() === 'hurón') ? 'https://img.freepik.com/free-vector/cute-otter-wild-animal-cartoon-sticker_1308-78999.jpg?t=st=1727738436~exp=1727742036~hmac=3fb4f8085d44db6c9ba47e9ecaaebd6c45243f2f1397a78212e2dc7080169c3d&w=740' :
                   (mascota.species.toLowerCase() === 'cacatúa') ? 'https://img.freepik.com/premium-vector/cute-vector-illustration-parrot-kids_925324-31237.jpg?w=740' :
                   (mascota.species.toLowerCase() === 'ave') ? 'https://www.svgrepo.com/show/484500/bird.svg ' :
                   (mascota.species.toLowerCase() === 'pez') ? 'https://www.svgrepo.com/show/317413/fish.svg' :
                   (mascota.species.toLowerCase() === 'murcielago') ? 'https://www.svgrepo.com/show/425730/bat-scary.svg' :
                   'https://www.svgrepo.com/show/366549/application-pet.svg'" alt="Imagen de {{mascota.name}}"
              style="height: 250px; width: 250px;">
          </div>

          <!-- Columna para las casillas -->
          <div class="col-md-8">
            <div class="row" >
              <div class="col-md-6" >
                <fieldset class="form-group">
                  <label class="control-label" for="name" style="text-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);  font-family: 'Arial', sans-serif; font-size: 1.2rem;">Nombre</label>
                  <input type="text" class="form-control" required [(ngModel)]="mascota.name" name="name" id="name" style="font-family: 'Arial', sans-serif; font-size: 1.2rem;">
                </fieldset>
              </div>
              <div class="col-md-6">
                <fieldset class="form-group">
                  <label class="control-label" for="species" style="text-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);  font-family: 'Arial', sans-serif; font-size: 1.2rem;">Especie</label>
                  <input type="text" class="form-control" required [(ngModel)]="mascota.species" name="species" id="species" style="font-family: 'Arial', sans-serif; font-size: 1.2rem;">
                </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <fieldset class="form-group">
                  <label class="control-label" for="breed" style="text-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);  font-family: 'Arial', sans-serif; font-size: 1.2rem;">Raza</label>
                  <input type="text" class="form-control" required [(ngModel)]="mascota.breed" name="breed" id="breed" style="font-family: 'Arial', sans-serif; font-size: 1.2rem;">
                </fieldset>
              </div>
              <div class="col-md-6">
                <fieldset class="form-group">
                  <label class="control-label" for="age" style="text-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);  font-family: 'Arial', sans-serif; font-size: 1.2rem;">Edad</label>
                  <input type="text" class="form-control" required [(ngModel)]="mascota.age" name="age" id="age" style="font-family: 'Arial', sans-serif; font-size: 1.2rem;">
                </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <fieldset class="form-group">
                  <label class="control-label" for="gender" style="text-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);  font-family: 'Arial', sans-serif; font-size: 1.2rem;">Género</label>
                  <input type="text" class="form-control" required [(ngModel)]="mascota.gender" name="gender" id="gender" style="font-family: 'Arial', sans-serif; font-size: 1.2rem;">
                </fieldset>
              </div>
              <div class="col-md-6">
                <fieldset class="form-group">
                  <label class="control-label" for="size" style="text-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);  font-family: 'Arial', sans-serif; font-size: 1.2rem;">Tamaño</label>
                  <input type="text" class="form-control" required [(ngModel)]="mascota.size" name="size" id="size" style="font-family: 'Arial', sans-serif; font-size: 1.2rem;">
                </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <fieldset class="form-group">
                  <label class="control-label" for="description" style="text-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);  font-family: 'Arial', sans-serif; font-size: 1.2rem;">Descripción</label>
                  <input type="text" class="form-control" required [(ngModel)]="mascota.description" name="description" id="description" style="font-family: 'Arial', sans-serif; font-size: 1.2rem;">
                </fieldset>
              </div>
            </div>
          </div>
        </div>

        <!-- Botones de Guardar Cambios debajo -->
        <div class="text-center mt-4">
          <button type="submit" class="btn btn-sm" [disabled]="!mascotaForm.form.valid" 
                  style="background-color: #80ffb9; color: rgb(0, 0, 0); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); font-family: 'Arial', sans-serif; font-size: 1.2rem;" >
            Guardar Cambios
          </button>
          <button class="btn btn-sm" [routerLink]="['/mascotas']"
                  style="background-color: #6faeff; color: rgb(0, 0, 0); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); margin-left: 10px; font-family: 'Arial', sans-serif; font-size: 1.2rem;">
            Volver
          </button>
        </div>
        
      </form>
    </div>
  </div>
</div>




<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>