<div class="row">
    <div class="col-sm-12">
        <form (ngSubmit)="onSubmit()" #adoptanteForm="ngForm">
            <fieldset class="form-group">
                <div class="col-sm-12">
                    <label class="control-label" for="first_name">Nombre</label>
                    <input type="text" class="form-control" required [(ngModel)]="adoptante.first_name"
                        name="first_name">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-12">
                    <label class="control-label" for="species">Apellido</label>
                    <input type="text" class="form-control" required [(ngModel)]="adoptante.last_name" name="last_name">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-12">
                    <label class="control-label" for="breed">Email</label>
                    <input type="text" class="form-control" required [(ngModel)]="adoptante.email" name="email">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-12">
                    <label class="control-label" for="age">Teléfono</label>
                    <input type="text" class="form-control" required [(ngModel)]="adoptante.phone" name="phone">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-12">
                    <label class="control-label" for="description">Identificación</label>
                    <input type="text" class="form-control" required [(ngModel)]="adoptante.citizenship_card"
                        name="citizenship_card">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-12">
                    <label class="control-label" for="gender">Dirección</label>
                    <input type="text" class="form-control" required [(ngModel)]="adoptante.address" name="address">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-12">
                    <label class="control-label" for="size">Ciudad</label>
                    <input type="text" class="form-control" required [(ngModel)]="adoptante.city" name="city">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" [disabled]="!adoptanteForm.form.valid">Enviar</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>